<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <link href="assets/css/rating.css" rel="stylesheet" >
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Tek-up Student </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

   <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
    <!--? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!--? Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/home">Home</a></li>
                                            <li><a href="/result">Result</a></li>
                                            <li><a href="/absence">Absence</a></li>
                                            <li><a href="/usefullinks">Useful Links</a></li>
                                            <li><a href="/rating">Rating Teachers</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                    <a href="#" class="btn header-btn">Log out</a>
                                </div>
                            </div>
                        </div>   
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>Evaluating Teachers</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <section class="accordion fix section-padding30">
            <div class="container">
                <h1>Teacher: xxxxxx</h1>
                <div class="row">
                    <h6>Pedagogy</h6>
                    <div class="rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Excellent!">5 stars</label>
                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Rocks!">4 stars</label>
                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Pretty good">3 stars</label>
                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Good">2 stars</label>
                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Meh">1 star</label>
                    </div>                
                </div>

                <div class="row">
                    <h6>Courses content</h6>
                    <div class="rating">
                        <input type="radio" id="star6" name="rating" value="6" /><label for="star6" title="Excellent!">5 stars</label>
                        <input type="radio" id="star7" name="rating" value="7" /><label for="star7" title="Rocks!">4 stars</label>
                        <input type="radio" id="star8" name="rating" value="8" /><label for="star8" title="Pretty good">3 stars</label>
                        <input type="radio" id="star9" name="rating" value="9" /><label for="star9" title="Good">2 stars</label>
                        <input type="radio" id="star10" name="rating" value="10" /><label for="star10" title="Meh">1 star</label>
                    </div>                
                </div>

                <div class="row">
                    <h6>TD/TP content</h6>
                    <div class="rating">
                        <input type="radio" id="star11" name="rating" value="11" /><label for="star11" title="Excellent!">5 stars</label>
                        <input type="radio" id="star12" name="rating" value="12" /><label for="star12" title="Rocks!">4 stars</label>
                        <input type="radio" id="star13" name="rating" value="13" /><label for="star13" title="Pretty good">3 stars</label>
                        <input type="radio" id="star14" name="rating" value="14" /><label for="star14" title="Good">2 stars</label>
                        <input type="radio" id="star15" name="rating" value="15" /><label for="star15" title="Meh">1 star</label>
                    </div>                
                </div>
                <div class="row">
                    <h6>Class atmosphere</h6>
                    <div class="rating">
                        <input type="radio" id="star16" name="rating" value="16" /><label for="star16" title="Excellent!">5 stars</label>
                        <input type="radio" id="star17" name="rating" value="17" /><label for="star17" title="Rocks!">4 stars</label>
                        <input type="radio" id="star18" name="rating" value="18" /><label for="star18" title="Pretty good">3 stars</label>
                        <input type="radio" id="star19" name="rating" value="19" /><label for="star19" title="Good">2 stars</label>
                        <input type="radio" id="star20" name="rating" value="20" /><label for="star20" title="Meh">1 star</label>
                    </div>                
                </div>
                <a href="#" class="btn header-btn">Submit</a>
            </div>
        </section>
        <!-- ================ contact section end ================= -->
    </main>
    <footer>
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                       <div class="single-footer-caption mb-50">
                         <div class="single-footer-caption mb-30">
                             <div class="footer-tittle">
                                 <h4>Champions</h4>
                                 <div class="footer-pera">
                                     <p><a href="https://www.facebook.com/Tek-up-Certified-Students-386746871913770/
                                        ">International certifications</a></p>
                                </div>
                             </div>
                         </div>
                       </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Contact Info</h4>
                                <ul>
                                    <li>
                                        <p>Address :Z.I Chotrana II Pole Technologique Elghazela,2088 Ariana, Tunisia</p>
                                    </li>
                                    <li><a href="#">Phone : 23814000</a></li>
                                    <li><a href="#">Email : info@tek-up.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Important Link</h4>
                                <ul>
                                    <li><a href="www.tek-up.de">Website</a></li>
                                    <li><a href="http://tekup-online.com">Plateform</a></li>
                                    <li><a href="www.tek-up.de/SST2020-Beg">Summer Training</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            
                             <!-- Form -->
                             <div class="footer-form" >
                                 <div id="mc_embed_signup">
                                 </div>
                             </div>
                            </div>
                        </div>
                    </div>
                </div>
               <!--  -->
               <div class="row footer-wejed justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="footer-tittle-bottom">
                        <span>500+</span>
                        <p>Student certifications</p>
                    </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-tittle-bottom">
                            <span>Ranked Top 20</span>
                            <p>World wide - Hack the Box</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <!-- Footer Bottom Tittle -->
                        <div class="footer-tittle-bottom">
                            <span>Ranked 10 th</span>
                            <p>Academy world wide - Huawei</p>
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                     <div class="row d-flex justify-content-between align-items-center">
                         <div class="col-xl-10 col-lg-8 ">
                             <div class="footer-copy-right">
                                 <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Tek-up <i class="fa fa-heart" aria-hidden="true"></i> 
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                             </div>
                         </div>
                         <div class="col-xl-2 col-lg-4">
                             <div class="footer-social f-right">
                                <a href="https://twitter.com/tek__up?lang=fr"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/tekup.de/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://tek-up.de"><i class="fas fa-globe"></i></a>
                                <a href="https://fr.linkedin.com/school/tek-up/?challengeId=AQFpZpLI5xC5ZAAAAXMGdW8yF_znyNie21cRSC7Fnf97tIXJxkC6AXonhelNm7IqfTnk4iOt_YHv08JwQLFWZW-Y-4R69dhoYQ&submissionId=fcc8f04d-4d65-1d16-1820-3dfb00a5c463"><i class="fab fa-behance"></i></a>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    
    <!-- Nice-select, sticky -->
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>

    </body>
</html>